# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  node_16_npm7:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
        with: 
          node-version: '16'
      - name: npm version
        run: npm -v
      - name: npm install
        run: npm ci
  node_14_npm6_14_15:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
        with: 
          node-version: '14'
      - name: npm version
        run: npm -v
      - name: npm install
        run: npm ci
  node_14_npm6_14_14:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
        with: 
          node-version: '16'
      - name: install 6.14.14
        run: npm i -g npm@6.14.14 
      - name: npm version
        run: npm -v
      - name: npm install
        run: npm ci
